@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-gray: #3f3f3f;
  --background: #f5f5f5;
  --main-color: #76c1ec;
}

@theme {
  --color-text-gray: var(--text-gray);
  --color-background: var(--background);
  --color-main-color: var(--main-color);
  --shadow-box: 4px 4px 4px rgba(0, 0, 0, 0.2);
  --shadow-box: 1px 0px 8px rgba(0, 0, 0, 0.2);
}
